body{
    background: url("./interview.jpg") no-repeat center center/ cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.accordion{
    width: 65%;
    padding: 2%;
    border-radius: 4vw;
    background-color: rgba(0, 0,0, 0.2);
}

.accordion .accordion-title{
    margin-bottom: 2%;
    text-align: center;
}
.accordion .content-container .question{
    padding: 1.5% 0px;
    font-size: 2vw;
    cursor: pointer;
    border-bottom: 1px solid #000;
    position: relative;

}
.accordion .content-container .question::after{
    content: "+";
    position: absolute;
    right: 1vw;
}

.accordion .content-container .answer{
    font-size: 1.5vw;
    line-height: 1.5;
    width:100%;
    height: 0px;
    overflow: hidden;
    transition: 1.5s;
}

/*JS styling*/
.accordion .content-container.active .answer{
    height: 9vw;
    color: white;
    background-color: rgba(0, 0,0, 0.7);
    border-radius: 1vw;
}

.accordion .content-container.active .question{
    font-size: 2vw;
    font-weight: 600;
    transition: 1.5s;
}

.accordion .content-container.active .question::after{
    content: "-";
    font-size: 3vw;
    transition: 1.5s;
}

@media only screen and (max-width: 600px){
    body{
        align-items: flex-start;
    }
    .accordion{
        margin-top: 10%;
        width: 85%;
    }
    .accordion .content-container .question{
        font-size: 5vw;
    }
    .accordion .content-container.active .question{
        font-size: 5vw;
    }

    .accordion .content-container.active .answer{
        height: 55vw;
        font-size: 4vw;
    }
}